body
  .navbar.navbar-default
    .container-fluid
      .navbar-header
        span.navbar-brand Neo4jDriver for meteor Example
  .container
    .col-md-12

template(name="main")
  .panel.panel-default
    .panel-heading
      h3.panel-title Add/Remove/Change Nodes
    .panel-body#graph(style="padding:0px")